@font-face {
    font-family: "Yekan";
    src: url("/fonts/IRANYekanRegular.ttf");
} 

body {
    direction: rtl;
    font-family: 'Yekan', Arial, sans-serif;
}

@media (min-width: 767px) {
    #video-background {
        display: inline;
    }
}

@media (max-width: 767px) {
    #video-background {
        display: none;
    }
}
